body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: azure;
}

h1 {
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.well {
    color: black;

}

.lblWelcome {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar-default{
    background-color:burlywood;
    color: black;
}

.form-group {
    color: black;
}

form {
    margin-bottom: 100px; /* ADD THIS */
    min-height: 88%;
}

.footer {
    background-color: #182547;
    background-image: url("images/bottom.png");
    background-repeat: repeat-x;
    border-color: #141824;
    border-top: 4px solid #141824;
    border-width: 4px;
    bottom: 0; /* ADD THIS */
    color: white;
    position: fixed; /* ADD THIS */
    text-align: center;
    width: 100%;
}
